.body{background-color: black;}

.contant{margin-top: 80px;
    text-align: center;

}
.contant h3{color: rgb(247, 240, 240);
            font-size: 30px;
}
.contant h1{color: rgb(216, 46, 46);
             font-size: 55px;
}

.img{width: 520px;
     height: 340px;
     margin-left: 90px;
} 
.flex{display: flex;}
.who{color: rgb(216,46,46);
     font-size: 45px;
     margin-left: 60pc;
}
.flex p{margin-left: 50px;
        margin-right: 40px;
        color: antiquewhite;
}
.read span{margin-left: 66pc;
           font-size: 28px;
           background-color: rgb(232, 25, 25); 
           border-radius: 5px;

}
.strong{color: antiquewhite;}

