body {
    background-image: url('port.jpeg');
    background-size: cover;

}

#Logo {
    direction: rtl;
    position: relative;
    color: white;
    position: relative;
    right: 15px;
}

img {
    position: relative;
    right: 1350px;
    top: 30px;
}

.Logo {
    font-family: "Cairo Play", sans-serif;
    font-weight: 900;
    font-size: 40px;
    position: relative;
    bottom: 70px;
}

#Logo p {
    font-family: "Caudex", serif;
    position: relative;
    top: -40px;
    font-size: 25px;
    font-weight: 900;

}

.navbar {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    direction: rtl;
    position: relative;
    top: -100px;
    left: 450px;
    width: 600px;
    font-family: "Cairo", sans-serif;
    font-weight: 900;


}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar a:hover {
    background-color: rgba(155, 155, 155, 0.526);
    color: blue;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: rgba(155, 155, 155, 0.526);
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #5757576f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.page-content {
    color: white;
    font-family: "Cairo", sans-serif;
    font-size: 40px;
    direction: rtl;
    position: relative;
    right: 200px;
}

.title {
    position: relative;
    top: -50px;
}

.small-par {
    position: relative;
    top: -90px;
    font-size: 30px;
}